<footer >
    <a class="flexContainer">Encuéntranos en redes!
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </a>
</footer>