<footer >
    <a>Encuéntranos en redes!
        <i class="fab fa-facebook" onclick="location.href='https://www.facebook.com';" style="cursor: pointer;"></i>
        <i class="fab fa-instagram" onclick="location.href='https://www.instagram.com';" style="cursor: pointer;"></i>
        <i class="fab fa-twitter" onclick="location.href='https://www.twitter.com';" style="cursor: pointer;"></i>
    </a>
</footer>