<div class="header">
    <div class="logo-search">
      <a href="/"><img src="/images/logo_kleta.jpg"/></a>
      <form action="" method="post" class="search-container">
        <input class="search-input" type="search" placeholder="Cuál es tu proxima bici?">
      </form>
      <div class="menu-actions">
        <ul type="none" class="actions">
          <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></i>Carrito</a> </li>
          <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i>Login</a> </li>
          <li><a href="/users/register"><i class="fas fa-id-card"></i>Registrate</a></li>
        </ul>
      </div>
    </div>
  </div>