<%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
      <main>
        <%- include('../partials/navMenu.ejs')%>


          <section>
            <h1>Work in progress... </h1>
          </section>

      </main>
      <%- include('../partials/footer.ejs')%>
  </body>

  </html>