<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
      <main>
        <%- include('../partials/navMenu.ejs')%>


          <section>
            <form class="flexContainer bgGray margin10px padding10px" id="infoProductoNuevo" action="/productonuevo" method="POST" enctype="multipart/form-data">
              <div id="contenedorInputs" class="flexContainer">
                <div id="tituloProductoNuevo" class="flexContainer">
                  <label for="nombre"> Nombre del Producto:</label>
                  <input class="textocentrado" type="text"  autocomplete="off" id="nombre" name="nombre" />
                </div>
                <div class="flexContainer" id="precioProducto">
                  <label for="precioNuevo"> Precio:</label> 
                  <input class="textocentrado" type="number" min="1" autocomplete="off" id="precio" name="precio" />
                </div>
                <div class="flexContainer" >
                  <label>Color:</label> 
                  <div id = "colors" class="flexContainer centradoxy space-evenly" >
                    <label for="colorRed"> Rojo</label><input type="checkbox" name="colorRed" value="2">
                    <label for="colorWhite"> Blanco</label><input type="checkbox" name="colorWhite" value="1">
                    <label for="colorBlack"> Negro</label><input type="checkbox" name="colorBlack" value="3">
                  </div>
                </div>
          
                <div class="flexContainer" >
                  <label>Tamaño: </label>
                  <div id="sizes" class="flexContainer centradoxy space-evenly" >
                    <label for="tamanioS">Rodado 20 <input type="checkbox" name="tamanioS" value="1"></label>
                    <label for="tamanioM">Rodado 26 <input type="checkbox" name="tamanioM" value="2"> </label>
                    <label for="tamanioL">Rodado 29 <input type="checkbox" name="tamanioL" value="3"> </label>
                  </div>
                  <br>
                <div class="flexContainer" id="cantidadProductoNuevo">
                  <label for="cantidad"> Cantidad:</label>
                  <input class="textocentrado" type="number" min="1" autocomplete="off" id="cantidad" name="cantidad" />
                </div>


                <div id="descripcionProductoNuevo">

                <label for="descripcionProductoNuevo"> Descripción:</label>
                <textarea id="descripcionProductoNuevo"  autocomplete="off" name="descripcionProductoNuevo"> </textarea>

                </div>

                <div id="containerBtn" class="flexContainer">
                  <button type="submit" id="btnProductoNuevo">Guardar</button>
                </div>
              </div>

            </form>

          </section>

      </main>
      <%- include('../partials/footer.ejs')%>
  </body>

  </html>