<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
      <main class="flexContainer">
        <%- include('../partials/navMenu.ejs')%>
        <h4>Not Found</h4>
<script>
    //redireccionando en 3...2..1.1..

</script>

    </main>
    <%- include('../partials/footer.ejs')%>
</body>

</html>
