<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
      <main>
        <%- include('../partials/navMenu.ejs')%>


          <section>
            <form class="flexContainer bgGray margin10px padding10px" id="infoProductoNuevo" action="/productonuevo"
              method="POST" enctype="multipart/form-data">
              <div id="uploadImages" class="flexContainer">
                <label for="avatar">Arrastra y suelta tus imagenes aquí o seleccionalas:</label>
                <input value="upload" type="file" id="imagenes" name="image" accept="image/*" required />
                <div class="validationAlert" id="imageAlert">
                  Escoja un formato valido de imagen
                </div>
              </div>
              <div id="contenedorInputs" class="flexContainer">
                <div id="tituloProductoNuevo" class="flexContainer">
                  <label for="nombre"> Nombre del Producto:</label>
                  <div class="flexContainer centradoxy">
                    <input class="textocentrado" type="text" autocomplete="off" id="nombre" name="nombre" minlength="5"
                      required />
                    <div class="validationAlert" id="nameAlert">
                      El nombre es obligatorio y debe contener al menos 5 caracteres.
                    </div>
                  </div>
                </div>
                <div class="flexContainer" id="precioProducto">
                  <label for="precioNuevo"> Precio:</label>
                  <div class="flexContainer centradoxy">
                    <input class="textocentrado" type="number" min="1" autocomplete="off" id="precio" name="precio" />
                    <div class="validationAlert" id="priceAlert">
                      El precio debe ser mayor a cero
                    </div>
                  </div>
                </div>
                <div class="flexContainer ">
                  <label>Color:</label>
                  <div id="colors" class="flexContainer centradoxy space-evenly">
                    <label for="colorRed"> Rojo</label><input type="checkbox" id="colorRed" name="colorRed" value="2">
                    <label for="colorWhite"> Blanco</label><input type="checkbox" id="colorWhite" name="colorWhite"
                      value="1">
                    <label for="colorBlack"> Negro</label><input type="checkbox" id="colorBlack" name="colorBlack"
                      value="3">
                    <div class="validationAlert" id="colorAlert">
                      Por favor escoge al menos una opción
                    </div>
                  </div>
                </div>
                <div>
                  <label>Tamaño: </label>
                  <div id="sizes" class="flexContainer centradoxy space-evenly">
                    <label for="tamanioS">Rodado 20 <input type="checkbox" name="tamanioS" id="tamanioS"
                        value="1"></label>
                    <label for="tamanioM">Rodado 26 <input type="checkbox" name="tamanioM" id="tamanioM" value="2">
                    </label>
                    <label for="tamanioL">Rodado 29 <input type="checkbox" name="tamanioL" id="tamanioL" value="3">
                    </label>
                    <div class="validationAlert" id="sizeAlert">
                      Por favor escoge al menos una opción
                    </div>
                  </div>
                </div>
                <br>
                <div class="flexContainer" id="cantidadProductoNuevo">
                  <label for="cantidad"> Cantidad:</label>
                  <div class="flexContainer centradoxy">
                    <input class="textocentrado" type="number" min="1" autocomplete="off" id="cantidad"
                      name="cantidad" />
                    <div class="validationAlert" id="quantityAlert">
                      La cantidad debe ser mayor a cero
                    </div>
                  </div>
                </div>
                <div id="descripcionProductoNuevo">

                  <label for="descripcionPN"> Descripción:</label>
                  <div class="flexContainer centradoxy">
                    <textarea id="descripcionPN" autocomplete="off" name="descripcionPN"> </textarea>
                    <div class="validationAlert" id="descriptionAlert">
                      La descripción debe tener al menos 20 caracteres.
                    </div>
                  </div>
                </div>
                <div id="containerBtn" class="flexContainer">
                  <button type="button" id="btnProductoNuevo">Guardar</button>
                </div>
            </form>
          </section>
      </main>
      <%- include('../partials/footer.ejs')%>

        <script src='/js/productoNuevo.js'></script>
  </body>

  </html>