<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
      <main>
        <%- include('../partials/navMenu.ejs')%>


          <section>
            <form class="flexContainer bgGray margin10px padding10px"" id="infoProductoNuevo" action="none" method="post">
              <div id="uploadImages" class="flexContainer">
                <label for="avatar">Arrastra y suelta tus imagenes aquí o seleccionalas:</label>
                <input type="file" id="imagenes" name="image" multiple accept="image/*" />
              </div>
              <div id="contenedorInputs" class="flexContainer">
                <div id="tituloProductoNuevo" class="flexContainer">
                  <label for="nombre"> Nombre del Producto:</label>
                  <input class="textocentrado" type="text"  autocomplete="off" id="nombre" name="nombre" />
                </div>
                <div class="flexContainer" id="precioProducto">
                  <label for="precioNuevo"> Precio:</label> 
                  <input class="textocentrado" type="number" min="1" autocomplete="off" id="precio" name="precio" />
                </div>
                <div class="flexContainer" >
                  <label>Color:</label> 
                  <div class="flexContainer" id="colorProductoNuevo">
                    <a class="iconCircle red"></a>
                    <a class="iconCircle white"></a>
                    <a class="iconCircle black"></a>
                  </div>
                </div>
                <div class="flexContainer" >
                  <label>Tamaño: </label>
                  <div class="flexContainer" id="tamanioProductoNuevo" >
                    <div class="iconCircle white">S</div>
                    <div class="iconCircle white">M</div>
                    <div class="iconCircle white">L</div>
                  </div>
                </div>
                <div class="flexContainer" id="cantidadProductoNuevo">
                  <label for="cantidad"> Cantidad:</label>
                  <input class="textocentrado" type="number" min="1" autocomplete="off" id="cantidad" name="cantidad" />
                </div>


                <div id="descripcionProductoNuevo">

                <label for="descripcionProductoNuevo"> Descripción:</label>
                <textarea id="descripcionProductoNuevo"  autocomplete="off" name="descripcionProductoNuevo"> </textarea>

                </div>

                <div id="containerBtn" class="flexContainer">
                  <button id="btnProductoNuevo">Guardar</button>
                </div>
              </div>

            </form>

          </section>

      </main>
      <%- include('../partials/footer.ejs')%>
  </body>

  </html>