* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  footer{
      display: flex;
      width: 100%;
      height: 20%;
      justify-content: flex-end;
      background-color: blue;
  }
  
  .iconosRedes{
      margin:5px;
  
  }
  #container-slider {
    position: relative;
    display: block;
    width: 100%;
  }
  #slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
  }
  #slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
  }
  #container-slider .arrowPrev,
  #container-slider .arrowNext {
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2;
  }
  #container-slider .arrowNext {
    left: initial;
    right: 50px !important;
  }
  
  #containerLogo {
    height: 20%;
    width: 20%;
    padding: 0px;
    margin: 5px;
  }
  
  #logo {
    height: 80%;
    width: 80%;
    padding: 0px;
    margin: 0px;
    border-radius: 10%;
   
  }
  
  #linkLogo {
    text-align: center;
  }
  
  #containerMenu {
    position: absolute;
    flex-wrap: wrap;
    align-self: flex-end;
    right: 15px;
  }
  
  
  .content_slider {
    padding: 15px 30px;
    color: #fff;
    width: 100%;
    height: 100%;
  }
  .content_slider div {
    text-align: center;
  }
  .content_slider h2 {
    font-family: "arial";
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .content_slider p {
    font-size: 15pt;
    font-family: "arial";
    color: #fff;
    margin-bottom: 20px;
  }
  #slider li .content_slider {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 125px;
  }
  .content_slider {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnSlider {
    color: #fff;
    font-size: 15pt;
    font-family: "arial";
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: 0.5s all;
  }
  .btnSlider:hover {
    background: #111;
    border: 1px solid #111;
  }
  .listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
  }
  .listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
  }
  .listslider li a {
    background: #ccc;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
  }
  .item-select-slid {
    background: #fff !important;
  }
  
  .btn-circle {
    border-radius: 50%;
    border: 1px solid;
    height: 20px;
    width: 20px;
    background-color: white;
    border-color: gray;
  }
  
  .btn-circle.red {
    /* border-color: red; */
    background-color: red;
  }
  
  .btn-circle.yellow {
    /* border-color: yellow; */
    background-color: yellow;
  }
  
  .btn-circle.black {
    /* border-color: black; */
    background-color: black;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    /* background-color: #333; */
    background-image: url("../../images/mini_logo_kleta.png");
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 18%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


  .login{
      display: flex;
  }

  .login-password,
  .login-name,
  .register-date{
      display: block;
      max-width: 100%;
      margin:15px;
      font-size: 18px;
      padding:5px;
  }

  .input-name,
  .input-password{
    display: block;
    max-width: 100%;
    margin:15px;
    font-size: 18px;
    padding:5px;
  }

  .button{
      display: block;
      margin:15px;
      padding: 5px;
      background-color: #30003f;
      color:white;
      font-size: 18px;
  }

  .forgot-password{
    display: block;
    margin:15px;
    padding: 5px;
    text-decoration: none;
    color: #30003f;
    font-size: 18px;  
  }

  .interests{
      padding: 5px;
      margin: 5px;
      margin-left: 10px;
      font-size: 18px;
  }

  b, h4, .avatar{
    margin-left: 15px;
  }

   .avatar{
       margin-top: 10px;
   } 
  @media(min-width: 461px){
    .login{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .registro{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: stretch;
    }
    
  }
  
  @media screen and (max-width: 460px) {
    .content_slider h2 {
      font-size: 15pt !important;
    }
    .content_slider p {
      font-size: 12pt !important;
    }
    #container-slider .arrowPrev,
    #container-slider .arrowNext {
      font-size: 20pt;
    }
    #container-slider .arrowPrev {
      left: 15px;
    }
    #container-slider .arrowNext {
      right: 15px !important;
    }
    #slider {
      height: 400px;
      min-height: 400px;
    }
    #slider li .content_slider {
      padding: 10px 35px;
    }
    .btnSlider {
      padding: 10px 30px;
      font-size: 10pt;
    }
  }
  