<%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/header.ejs')%>
      <main>
        <p>REGISTRO</p>
      </main>
      <%- include('partials/footer.ejs')%>
  </body>

  </html>