


i{
    font-size: 30px;
    margin-bottom: 10px;
}


.carro{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;

}

.detalle-compra{
    width: 90%;
    border-radius: 15px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.articulo img{
    width: 30%;
    padding: 5%;
}
.articulo input{
    width: 10%;
}

.articulo a{
    padding-right: 10px;
}
  
.articulo label {
    font-weight: bold;
    padding-left: 10px;
}

.articulo{
    display: flex;
    border: solid 1px black;
    width: 100%;
}

.articulo div{
    padding:2%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articulo div > *{
    margin: 5px;
}

.btn-segcompr{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-segcompr i{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
}


.detalle-pago{
    display: flex;
    padding: 2%;
    border: solid 2px black;
    width: 25%;
    border-radius: 10px;
    margin: auto; 
    flex-direction:column;
    background-color:lightgray;

}

div .resumen{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.resumen i{
    margin-right: 10px;
    color: white;
    font-size: 25px;
}

div .detalle-cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;
}

.products-pr {
    text-align: right;

}
.envio-tipo{
    text-align: right;
}

div .detalle-cart p{
    width: 50%;

}

div .comprar{
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
}
.total{
    display: flex;
    justify-content: space-between;
}
.promocion{
    display: flex;
    justify-content: center;
}


@media(min-width:769px){
    .body-cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      align-items: center;
    }
    .detalle-compra{
        width: 45%
        
    }
    /* .detalle-pago{
        width: 45%;
    } */
  }