
.validationAlert{
  color : red;
  display: none;
}


#containerSliderEP {
  width: 45%;
}

#containerDeleteIMG {
  height: 50px;
  aspect-ratio: 1/1;
  position: relative;

  /* border: solid 1px black; */
  border-radius: 50%;
  right: -55%;
  top: 28vh !important;
  background-color: lightgray;
}

#containerDeleteIMG:hover {
  background-color: orange !important;
}

#containerDeleteIMG > i {
  color: rgb(255, 255, 255) !important;
  margin: 0px !important;
}

#uploadImagesEP {
  height: 30vh;
  width: 50%;
  background-color: aliceblue;
  margin: 50px 0px;
}

#uploadImagesEP label {
  margin-right: 5px;
}

#infoEP {
  color: rgb(28, 114, 147);
}

#nombreEP {
  color: black;
}



