footer {

  justify-content: flex-end;
  background-color: rgb(28, 114, 147);
  margin-top: 20px;
  color: white;
  position: relative;
  bottom: 0px;
  width: 100%; 
  }

  footer a{
    align-items: center;
  }
  footer i {
    margin: 5px;
    margin-left: 10px;
  }