.enlaces {
  height: 30px;
  min-width: 200px;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.enlaces li a {
  text-decoration: none;
  color: rgb(28, 114, 147);
}

.enlaces li {
  list-style: none;
}

#navBar {
  width: 100%;
  background-color: whitesmoke;
}

.enlaces {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
