/* nombre e imagen */

#saludo{
    text-align: center;
}

#avatar{
        display: block!important;
        margin-left: auto;
        margin-right: auto;
        aspect-ratio: auto;
        height: 20vh;
}

/* botones al final */
#editar, #eliminar {
    text-align: center;
}

