<%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/header.ejs')%>
      <main>
        <%- include('partials/navMenu.ejs')%>
        
        <h1>Pagina no encontrada...</h1>
      </main>
      <%- include('partials/footer.ejs')%>
  </body>

  </html>