<footer class="flexContainer direction-column padding10px" >
    <div class="flexContainer centradoxy margin10px">Encuéntranos en redes!
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </div>
    <div class="flexContainer centradoxy">
        <a class="flexContainer" href="https://www.freepik.com/">
            Images by  www.freepik.com
        </a>

    </div>
</footer>