<nav id="navBar"> 
 
    <ul class="enlaces flexContainer">
      <li>
        <a href="/MTB">MTB</a>
      </li>
      <li>
        <a href="/Ruta">Ruta</a>
      </li>
      <li>
        <a href="/Urbanas">Urbanas</a>
      </li>
      <li>
        <a href="/Accesorios">Accesorios</a>
      </li>
    </ul>

</nav>

    