<nav id="navBar"> 
 
    <ul class="enlaces">
      <li>
        <a href="/buscar?search=Mtb"><b>MTB</b></a>
      </li>
      <li>
        <a href="/buscar?search=Ruta"><b>Ruta</b></a>
      </li>
      <li>
        <a href="/buscar?search=Urbana"><b>Urbanas</b></a>
      </li>
      <li>
        <a href="/buscar?search=Accesorios"><b>Accesorios</b></a>
      </li>
    </ul>

</nav>

    