<nav id="navBar"> 
 
    <ul class="enlaces flexContainer">
      <li>
        <a href="/buscar?search=Mtb">MTB</a>
      </li>
      <li>
        <a href="/buscar?search=Ruta">Ruta</a>
      </li>
      <li>
        <a href="/buscar?search=Urbanas">Urbanas</a>
      </li>
      <li>
        <a href="/buscar?search=Accesorios">Accesorios</a>
      </li>
    </ul>

</nav>

    