<nav id="navBar"> 
 
    <ul class="enlaces">
      <li>
        <a href="/buscar?search=Mtb"><b>MTB</b></a>
      </li>
      <li>
        <a href="/buscar?search=Ruta"><b>Ruta</b></a>
      </li>
      <li>
        <a href="/buscar?search=Urbana"><b>Urbanas</b></a>
      </li>
      <li>
        <a href="/buscar?search=Electrica"><b>Electricas</b></a>
      </li>
    </ul>

</nav>

<!-- enlaces flexContainer centradoxy -->

    