<section id="slider">
     <div class="slider-display-container"><!--class="slider-wrapper" -->
        <ul id="mySlides" ><!--slides-container"  -->
            <% for (let i=1; i <=6; i++ ) { %>
                <li class="sliderImagen"> <img   src="/images/banner/<%=i%>.jpg" style="width:100%"></li><!-- class="slide" -->
            <%}%>
        </ul>
        <a   id="prev" >&#10094;</a>
        <a   id="next" >&#10095;</a>
   
    <div style="text-align:center">
        <% for (let e=1; e <=6; e++ ) { %>
            <span class="dot" onclick="currentSlide('<%=e%>')"></span>
        <%}%>
    </div>
</div>
</section>