<section class="flexContainer" id="slider">
    <!-- SLIDER -->
    <div class="slider-display-container">
      <button type="button" id="btnIzq" onclick="siguiente(-1)">&#10094;</button>
      <%producto.productsImages.forEach(image=> { %>
        <img class="sliderImagen" src="/images/<%= image.imageProduct %>">
        <%})%>
          <button type="button" id="btnDer" onclick="siguiente(1)">&#10095;</button>
    </div>
    <!-- SLIDER SCRIPT (MUST INCLUDE)-->
  </section>
</div>