<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/header.ejs')%>
            <main class="margin10px flexContainer centradoxy" id="mainLogin">
                   
                   <!-- formato del JSON y campos:

        "id": 1,
        "fullName": "Betteann Binden", **VISUALIZAR**
        "fullAddress": "79591 Brown Park", **VISUALIZAR**
        "email": "bbinden0@cdbaby.com", **VISUALIZAR**
        "bday": "10/6/2021", **VISUALIZAR**
        "user": "bbinden0", **VISUALIZAR**
        "key": "lwxaDeB1Iiw", 
        "foto": "Erat.avi", **VISUALIZAR**
        "dateCreation": "8/13/2021"

            
                    -->

                <%- include('../partials/footer.ejs')%>
            </main>
    </body>

</html>